In [2]:
import pandas as pd

In [3]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('data.csv')
df

  currency  transaction_amount  legal
0      btc         1000.105001   True
1      BTC         2000.111199   True
2      btc         5000.112111  False
3      eth          100.011111   True
4      eth                 NaN   True
5      eth          200.000000  False

In [4]:
# Convert "currency" column to lowercase for case-insensitive grouping
df['currency'] = df['currency'].str.lower()
df

  currency  transaction_amount  legal
0      btc         1000.105001   True
1      btc         2000.111199   True
2      btc         5000.112111  False
3      eth          100.011111   True
4      eth                 NaN   True
5      eth          200.000000  False

In [5]:
# Filter out invalid "transaction_amount" values (e.g., NaN)
df = df.dropna(subset = ['transaction_amount'], how = 'any')
df

  currency  transaction_amount  legal
0      btc         1000.105001   True
1      btc         2000.111199   True
2      btc         5000.112111  False
3      eth          100.011111   True
5      eth          200.000000  False

In [6]:
# Convert "transaction_amount" to numeric values
df['transaction_amount'] = pd.to_numeric(df['transaction_amount'])
df

/var/folders/07/96l8ffm92d72drssn31q1_pm0000gp/T/ipykernel_96758/846781624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transaction_amount'] = pd.to_numeric(df['transaction_amount'])

  currency  transaction_amount  legal
0      btc         1000.105001   True
1      btc         2000.111199   True
2      btc         5000.112111  False
3      eth          100.011111   True
5      eth          200.000000  False

In [7]:
# Filter only legal transactions
legal_transactions = df[df['legal'] == True]
legal_transactions

  currency  transaction_amount  legal
0      btc         1000.105001   True
1      btc         2000.111199   True
3      eth          100.011111   True

In [8]:
# Group by currency and calculate the sum of legal transactions for each currency
sum_by_currency = legal_transactions.groupby('currency')['transaction_amount'].sum().to_dict()
for key, value in sum_by_currency.items():
    rounded_value = round(value, 2)
    sum_by_currency[key] = rounded_value
sum_by_currency

{'btc': 3000.22, 'eth': 100.01}

In [11]:
all_legal_transaction = legal_transactions['transaction_amount'].sum()
round(all_legal_transaction, 2)

3100.23